.sidebar {
	margin: 10px 25px 0px 0px;
	width: 250px;
	background-image: url("./images/try-2.png");

	&__search {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 15px;

		img {
			width: 25px;
		}
		input {
			padding: 4px 8px;
			margin: 0px 10px;
			width: 200px;
			border: 1px solid rgb(59, 25, 90);
			border-radius: 5px;
			outline: none;
			transition: all 0.25s;

			&:hover,
			&:focus {
				background-color: rgb(107, 91, 107);
				color: rgba(255, 255, 255, 0.877);
			}
		}
	}

	&__genre-list {
		font-size: 17px;
		list-style-type: none;
		margin: 10px 2px 0px 25px;
	}
}
