.header-class {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(21, 133, 153);
  padding: 10px;
  height: 50px;
  z-index: 100;
}
.header-left-section {
  display: flex;
  align-items: center;
  position: absolute;
  margin: 0;
  left: 0px;
  top: 0px;
}
.kazino-logo {
  width: 50px;
}
.kazino-name {
  margin-left: 10px;
  font-weight: 600;
  font-size: 24px;
  color: goldenrod;
}
.header-right-section {
  position: absolute;
  right: 20px;
  top: 10px;
}
.header-right-section button {
  margin: 0px 10px;
  padding: 5px 10px;
  border: 1px solid khaki;
  border-radius: 7px;
  background-color: rgb(175, 142, 119);
  transition: all 0.25s;
  cursor: pointer;
}
.header-right-section button:hover {
  box-shadow: inset 4px 4px 16px rgba(0, 0, 0, 0.15);
}
