.footer {
  text-align: center;
  height: 250px;
  background-image: url("./images/try-4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 100px 0px 0px 50px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.footer-container {
  display: flex;
  justify-content: start;
}
.about-us,
.help {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: 100px;
}
.about-us h1,
.help h1 {
  color: rgb(57, 4, 68);
}
.about-us a,
.help a {
  margin: 5px 0px;
  color: rgb(80, 8, 175);
  font-size: 17px;
  text-decoration: none;
  margin-left: 10px;
  cursor: pointer;
}
.about-us a:hover,
.help a:hover {
  text-decoration: underline;
}
.about-us {
  margin-left: 60%;
  width: 300px;
}
.help {
  align-items: start;
  justify-content: start;
  text-align: start;
  flex: 1;
}
.social-media {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 250px;
}
.social-media button {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}
.telegram-button {
  background-color: rgb(158, 170, 204);
}
.instagram-button {
  background-color: rgb(141, 124, 92);
}
.youtube-button {
  background-color: rgb(218, 103, 75);
}
.social-media img {
  width: 40px;
}
