.genre {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0px 15px 15px 0px;

	&__title {
		display: flex;
		align-items: center;
	}

	&__count {
		margin-left: 4px;
		font-size: 15px;
		color: rgb(97, 88, 88);
	}
}
