body {
  background-color: rgb(234, 234, 234);
}
.slot-container {
  position: relative;
  width: 95%;
  height: 800px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  border: 8px solid transparent;
  border-radius: 25px;
  background: linear-gradient(#eee, #eee 0) padding-box,
    linear-gradient(to right, rgb(218, 17, 17), rgb(0, 0, 0)) border-box;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: rgb(241, 20, 20);
  padding: 5px 10px;
  border-radius: 3px;
  color: rgb(220, 220, 220);
  transition: all 0.25s;
}
.close-button:hover {
  background-color: rgb(124, 3, 3);
  color: white;
}
