.one-genre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 15px 15px 0px;
}
.genre-title-count {
  display: flex;
  align-items: center;
}
.one-genre-count {
  margin-left: 4px;
  font-size: 15px;
  color: rgb(97, 88, 88);
}
.one-genre input {
  display: none;
}

.custom-label {
  width: 20px;
  height: 20px;
  background-color: rgb(13, 85, 107);
  border: 1px solid #ccc;
  display: inline-block;
  cursor: pointer;
}
.custom-label img {
  width: 100%;
}
